<div class="absolute inset-0 flex justify-center items-center bg-gray-50">
  <div class="relative w-72 p-8 space-y-8 bg-white shadow">
    <dx-load-panel [visible]="loading"/>
    <dx-form>
      <dxi-item
        dataField="nickname"
        widget="dxTextBox"
      >
        <dxo-label text="Ваш логин"/>
        <dxi-validation-rule type="required" message="Ваш логин обязательно"/>
      </dxi-item>

      <dxi-item
        dataField="fullname"
        widget="dxTextBox"
      >
        <dxo-label text="Ваше имя"/>
        <dxi-validation-rule type="required" message="Ваше имя обязательно"/>
      </dxi-item>

      <dxi-item
        dataField="mail"
        widget="dxTextBox"
      >
        <dxo-label text="Почта"/>
        <dxi-validation-rule type="required" message="Почта обязательна"/>
      </dxi-item>


      <dxi-item
        dataField="password"
        widget="dxTextBox"
        [editorOptions]="{ mode: 'password' }"
      >
        <dxo-label text="Пароль"/>
        <dxi-validation-rule type="required" message="Пароль обязательно"/>

      </dxi-item>
    </dx-form>
    <dx-button text="Зарегестрироваться" width="100%" type="default" (onClick)="handleSignUp()"/>
    <dx-button text="Войти" width="100%" stylingMode="text" type="normal" (onClick)="handleSignIn()"/>
  </div>
</div>


<dx-toast [(visible)]="isVisibleToast" [type]="type" [message]="message"></dx-toast>
