<dx-popup [visible]="true" title="Добавление" (onHiding)="close.emit()">
  <dxi-toolbar-item
    widget="dxButton"
    location="after"
    [options]="{ icon: 'save', type: 'normal', stylingMode: 'text', onClick: handleSave }"
  />

  <div *dxTemplate="let data of 'content'">
    <dx-form [formData]="record" [colCount]="3" labelMode="outside" labelLocation="top">
      <dxi-item
        dataField="name"
        editorType="dxTextBox"
        [colSpan]="3"
      >
        <dxo-label text="Название" />
        <dxi-validation-rule type="required" message="Название обязательное"/>
      </dxi-item>

      <dxi-item
        dataField="year"
        editorType="dxDateBox"
        [colCount]="1"
        [editorOptions]="{ type: 'date', displayFormat: 'yyyy', zoomLevel: 'year' }"
      >
        <dxo-label text="Дата выхода" />
        <dxi-validation-rule type="required" message="Дата обязательное"/>
      </dxi-item>

      <dxi-item
        dataField="type"
        editorType="dxSelectBox"
        [colCount]="1"
        [editorOptions]="{ dataSource: typeStore, displayExpr: 'name', valueExpr: 'id' }"
      >
        <dxo-label text="Категория" />
        <dxi-validation-rule type="required" message="Категория обязательна"/>
      </dxi-item>

      <dxi-item
        dataField="genre"
        [colCount]="1"
      >
        <div *dxTemplate>
          <dx-drop-down-box
            valueExpr="id"
            displayExpr="name"
            [(value)]="genres"
            [dataSource]="genreStore"
          >
            <div *dxTemplate="let data of 'content'">
              <dx-list
                keyExpr="id"
                displayExpr="name"
                selectionMode="multiple"
                [dataSource]="genreStore"
                [(selectedItemKeys)]="genres"
              />
            </div>
          </dx-drop-down-box>
        </div>
        <dxo-label text="Жанр" />
        <dxi-validation-rule type="required" message="Жанр обязателен"/>
      </dxi-item>

      <dxi-item
        dataField="description"
        editorType="dxTextArea"
        [colSpan]="3"
      >
        <dxo-label text="Описание" />
        <dxi-validation-rule type="required" message="Описание обязательное"/>
      </dxi-item>

      <dxi-item
        dataField="trailerHref"
        editorType="dxTextBox"
        [colSpan]="3"
      >
        <dxo-label text="Ссылка на видео" />
        <dxi-validation-rule type="required" message="Ссылка на видео обязательное"/>
      </dxi-item>

      <dxi-item [colSpan]="3">
        <dx-button type="success" width="100%" text="Загрузить изображение" (onClick)="handleUpload()"/>
      </dxi-item>

    </dx-form>

    @if (href) {
      <div class="h-80">
        <img [src]="href" alt="*">
      </div>
    }
  </div>
</dx-popup>


