<dx-popup
  [visible]="true"
  [title]="_value.name"
  [showCloseButton]="true"
  [hideOnOutsideClick]="true"
  (onHiding)="close.emit()"
>
  @if(appService.user().id !== null) {

    @if(!viewed) {
      <dxi-toolbar-item
        widget="dxButton"
        location="after"
        [options]="{ icon: 'eyeopen', type: 'normal', stylingMode: 'text', onClick: handleViewed }"
      />
    } @else {
      <dxi-toolbar-item
        widget="dxButton"
        location="after"
        [options]="{ icon: 'eyeclose', type: 'normal', stylingMode: 'text', onClick: handleUnViewed }"
      />
    }


    <dxi-toolbar-item
      widget="dxButton"
      location="after"
      [options]="{ icon: 'trash', type: 'normal', stylingMode: 'text', onClick: handleDelete }"
    />
    <dxi-toolbar-item
      widget="dxButton"
      location="after"
      [options]="{ icon: 'edit', type: 'normal', stylingMode: 'text', onClick: handleEdit }"
    />
  }

  <div *dxTemplate="let data of 'content'">
    <div class="flex flex-row">
      <div></div>
      <div class="flex-1 flex flex-col">
        <div class="flex flex-row justify-around">
          <div>
            <iframe
              width="560"
              height="315"
              [src]="trailerHref"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="h-[315px] max-w-[350px] w-auto">
            <app-movie-cover tabindex="0" [id]="_value.id"/>
          </div>
        </div>
        <div>
          <div class="dx-fieldset">
            <div class="dx-fieldset-header">Основная информация</div>
            <div class="dx-field">
              <div class="dx-field-label">Год выхода</div>
              <div class="dx-field-value-static">{{_value.year}}</div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">Категория</div>
              <div class="dx-field-value-static">{{getGenresBy( _value.genre,'ru')}}</div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">Жанр</div>
              <div class="dx-field-value-static">{{getTypeBy(_value.type, 'ru')}}</div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">Описание</div>
              <div class="dx-field-value-static">
                {{_value.description}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dx-popup>




@if(editing) {
  <app-create-dialog mode="edit" [data]="_value" (save)="handleUpdate($event) " (close)="editing = false"/>
}

