@if (appService.user !== null) {
  <div class="absolute right-[5%] top-[5%]">

    @if(appService.user.id !== null) {

      <div class="app-button-add">
        <div (click)="creating = true">
          <dx-button type="default" width="100%" text="Новый фильм"/>
        </div>
      </div>
    }
    <dx-button
      icon="panelleft"
      (onClick)="appService.signOut()"
    />
  </div>
}

<router-outlet/>





@if(creating) {
  <app-create-dialog (save)="handleSave($event) " (close)="creating = false"/>
}

<dx-toast [(visible)]="appService.isVisibleToast" [type]="appService.type" [message]="appService.message"></dx-toast>
