@if (appService.user() !== null) {
  <div class="absolute right-[5%] top-[5%]">

    <!--    @if(appService.user.id !== null) {-->

    <!--      <div class="app-button-add">-->

    <!--      </div>-->
    <!--    }-->
    <!--    <dx-button-->
    <!--      icon="panelleft"-->
    <!--      (onClick)="appService.signOut()"-->
    <!--    />-->
    <dx-drop-down-button
      class="user-command-button"
      type="default"
      stylingMode="contained"
      width="100%"
      keyExpr="id"
      displayExpr="text"
      [text]="appService.user().nickName"
      [items]="buttons()"
      (onItemClick)="handleAction($event)"
    />
  </div>
}

<router-outlet/>





@if (creating) {
  <app-create-dialog (save)="handleSave($event)" (close)="creating = false"/>
}

@if (settings) {
  <app-user-settings (close)="settings = false"/>
}

<dx-toast [(visible)]="appService.isVisibleToast" [type]="appService.type" [message]="appService.message"></dx-toast>
