<div class="flex h-80  pt-12 justify-center items-center">
  <div class="relative h-full w-2/3 flex justify-center">
    <img class="object-cover h-full w-max-full"
         src="https://i.pinimg.com/564x/66/6c/ef/666cef33089db06d5232069b03940dcb.jpg" alt="*">
  </div>
</div>
<div class="relative flex flex-col flex-1 my-12">
  <div class="absolute inset-0 w-full h-full overflow-hidden">
    <div class="min-h-0 min-w-0 h-full w-full overflow-y-auto no-scrollbar">

      <div class="mt-6 flex flex-col justify-between space-y-4 px-12">

        <div class="text-slate-900 text-xl font-bold cursor-pointer hover:text-black/70" (click)="handleRouteMovies()">
          <span>Категория</span>
        </div>

        <div class="flex flex-row gap-14 py-4">

          <app-movie-card
            name="Наименование"
            href="https://i.pinimg.com/564x/80/c5/a4/80c5a41a81ff6a957da72ab5c97dfda4.jpg"
          />

          <app-movie-card
            name="Наименование"
            href="https://i.pinimg.com/564x/80/c5/a4/80c5a41a81ff6a957da72ab5c97dfda4.jpg"
          />


          <app-movie-card
            name="Наименование"
            href="https://i.pinimg.com/564x/80/c5/a4/80c5a41a81ff6a957da72ab5c97dfda4.jpg"
          />


          <app-movie-card
            name="Наименование"
            href="https://i.pinimg.com/564x/80/c5/a4/80c5a41a81ff6a957da72ab5c97dfda4.jpg"
          />


          <app-movie-card
            name="Наименование"
            href="https://i.pinimg.com/564x/80/c5/a4/80c5a41a81ff6a957da72ab5c97dfda4.jpg"
          />


        </div>

      </div>


    </div>
  </div>


</div>
