<div class="flex h-80  pt-12 justify-center items-center">
  <div class="relative h-full w-2/3 flex justify-center">
    <dx-gallery
      [loop]="true"
      [height]="300"
      [dataSource]="[]"
      [showNavButtons]="true"
      [showIndicator]="true"
    />
  </div>
</div>
<div class="relative flex flex-col flex-1 my-12">
  <div class="absolute inset-0 w-full h-full overflow-hidden">
    <div class="relative min-h-0 min-w-0 h-full w-full overflow-y-auto no-scrollbar flex flex-col">
      @for (value of Category; track $index) {
        <app-home-category [id]="value[0]" [title]="value[1]"/>
      }
    </div>
  </div>

</div>

