<div class="flex flex-col">

  <div class="flex flex-row justify-around">
    <div
      class="select-none relative inline-flex items-center cursor-pointer h-8 rounded  gap-3"
    >

      <div class="flex flex-col gap-3">
    <div
      class="w-24 select-none relative inline-flex items-center cursor-pointer h-8 rounded "
      (click)="handle('Default')">
      <dx-button type="default" width="100%" text="Новый фильм"/>
    </div>
    <div
      class="w-24 select-none relative inline-flex items-center cursor-pointer h-8 rounded "
      (click)="handle('Anime')">
      <dx-button type="default" width="100%" text="Аниме"/>
    </div>
      </div>


      <div class="flex flex-col gap-3">
    <div
      class="w-24 select-none relative inline-flex items-center cursor-pointer h-8 rounded "
      (click)="handle('Serial')">
      <dx-button type="default" width="100%" text="Сериал"/>
    </div>
    <div
      class="w-24 select-none relative inline-flex items-center cursor-pointer h-8 rounded "
      (click)="handle('Cartoon')">
      <dx-button type="default" width="100%" text="Мультфильм"/>
    </div>

    </div>
    </div>
  </div>
  <!--  -->
<!--  <div-->
<!--    class="w-24 select-none relative inline-flex items-center cursor-pointer h-8 rounded bg-blue-500 text-white hover:bg-blue-600 active:bg-blue-700"-->
<!--    (click)="handle('Default')"-->
<!--  >-->
<!--    <div class="flex items-center inset-0 h-full mx-auto px-3 ">-->
<!--      <div>Фильм</div>-->
<!--    </div>-->
<!--  </div>-->

  <!--    <div-->
  <!--      class="w-24 select-none relative inline-flex items-center cursor-pointer h-8 rounded bg-blue-500 text-white hover:bg-blue-600 active:bg-blue-700"-->
  <!--      (click)="handle('Anime')"-->
  <!--    >-->
  <!--      <div class="flex items-center inset-0 h-full mx-auto px-3 ">-->
  <!--        <div>Аниме</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div class="flex flex-row justify-around mt-4">-->

  <!--    <div-->
  <!--      class="w-24 select-none relative inline-flex items-center cursor-pointer h-8 rounded bg-blue-500 text-white hover:bg-blue-600 active:bg-blue-700"-->
  <!--      (click)="handle('Serial')"-->
  <!--    >-->
  <!--      <div class="flex items-center inset-0 h-full mx-auto px-3 ">-->
  <!--        <div>Сериал</div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div-->
  <!--      class="w-24 select-none relative inline-flex items-center cursor-pointer h-8 rounded bg-blue-500 text-white hover:bg-blue-600 active:bg-blue-700"-->
  <!--      (click)="handle('Cartoon')"-->
  <!--    >-->
  <!--      <div class="flex items-center inset-0 h-full mx-auto px-3 ">-->
  <!--        <div>Мультфильм</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->


</div>
