
@import "devextreme/dist/css/dx.fluent.blue.light.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  @apply w-screen h-screen ;

  background: hsla(345, 100%, 93%, 1);
  background: linear-gradient(45deg, hsla(345, 100%, 93%, 1) 0%, hsla(277, 100%, 93%, 1) 40%, hsla(187, 81%, 84%, 1) 100%);
}

input.ng-invalid {
  @apply border-red-500
}

app-button-add {

  dx-button {
    background-color: #fdddef !important;
    &:hover {
      background-color: #ee96c7 !important;
    }
    &:active {
      background-color: #ee96c7 !important;
    }
  }

}

app-movies {
  dx-button {

    &.dx-button-mode-contained {
      background-color: #fdddef !important;

      &:hover {}
      &:active {}
    }

    &.dx-button-mode-outlined {
      border-color: #ee96c7;

      &:hover {
        border-color: #fdddef;
        background-color: #fdddef;
      }

      &:active {}
    }

  }
}
