@import "devextreme/dist/css/dx.fluent.blue.light.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  @apply w-screen h-screen ;

  background-color: var(--app-background) !important;
  //background-color: linear-gradient(45deg, hsla(345, 100%, 93%, 1) 0%, hsla(277, 100%, 93%, 1) 40%, hsla(187, 81%, 84%, 1) 100%);
}

input.ng-invalid {
  //@apply border-red-500;
  border-color: var(--app-danger);
}

.user-command-button {
  .dx-button {
    background-color: var(--app-primary);

    &:hover {
      background-color: var(--app-primary-100);
    }

    &:active {
      background-color: var(--app-primary);
    }
  }
}

.movie-type-button {
  color: var(--app-primary);
  background-color: var(--app-primary-900);
  border-color: var(--app-primary-600);

  &:hover {
    color: var(--app-primary);
    background-color: var(--app-primary-800);
    border-color: var(--app-primary-600);
  }

  &:active {
    color: var(--app-primary);
    background-color: var(--app-primary-900);
    border-color: var(--app-primary-600);
  }
}


.movie-type-button-active {
  color: var(--app-background-900) !important;
  background-color: var(--app-primary) !important;
  border-color: var(--app-primary);

  &:hover {
    color: var(--app-background-900);
    background-color: var(--app-primary-100) !important;
    border-color: var(--app-primary-100) !important;
  }

  &:active {
    color: var(--app-primary);
    background-color: var(--app-primary-900);
    border-color: var(--app-primary-600);
  }
}


.home-category-text {
  color: var(--app-text);

  &:hover {
    color: var(--app-text-200);
  }
}
