<div class="flex items-center pt-12 justify-between">
  <div class="text-lg space-x-4 select-none">
    <span class="text-slate-900 font-bold cursor-pointer" (click)="handleRouteHome()">Главная</span>
    <span class="text-slate-600 font-medium">/</span>
    <span class="text-slate-600 font-medium">{{category ? getGenreBy(category, 'ru' ) : 'Все'}}</span>
  </div>
</div>
<div class="py-8">
  <div class="flex flex-row h-8 space-x-8">

    <dx-button
      class="movie-type-button"
      [class.movie-type-button-active]="hasDefault"
      width="100%"
      text="Фильмы"
      [type]="hasDefault ? 'default' : 'normal'"
      [stylingMode]="hasDefault ? 'contained' : 'outlined'"
      (onClick)="handleDefaultFilter()"
    />

    <dx-button
      class="movie-type-button"
      [class.movie-type-button-active]="hasAnime"
      width="100%"
      text="Аниме"
      [type]="hasAnime ? 'default' : 'normal'"
      [stylingMode]="hasAnime ? 'contained' : 'outlined'"
      (onClick)="handleAnimeFilter()"
    />

    <dx-button
      class="movie-type-button"
      [class.movie-type-button-active]="hasSerial"
      width="100%"
      text="Сериалы"
      [type]="hasSerial ? 'default' : 'normal'"
      [stylingMode]="hasSerial ? 'contained' : 'outlined'"
      (onClick)="handleSerialFilter()"
    />

    <dx-button
      class="movie-type-button"
      [class.movie-type-button-active]="hasCartoon"
      width="100%"
      text="Мультфильмы"
      [type]="hasCartoon ? 'default' : 'normal'"
      [stylingMode]="hasCartoon ? 'contained' : 'outlined'"
      (onClick)="handleCartoonFilter()"
    />

  </div>
</div>
<div class="relative flex flex-col flex-1 my-6">

  @if (loading) {
    <div class="absolute inset-0 w-full h-full flex items-center justify-center">
      <dx-load-indicator
        height="50px"
        width="50px"
      ></dx-load-indicator>
    </div>
  } @else {
    <div class="absolute inset-0 w-full h-full overflow-hidden">
      <div class="min-h-0 min-w-0 h-full w-full overflow-y-auto no-scrollbar">
        <div class="relative flex flex-wrap justify-between items-start gap-14">
          @for (item of collection;track item.id) {
            <app-movie-card [item]="item"/>
          }
        </div>
      </div>
    </div>
  }


</div>






